---
import { Image } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";
import TableOfContents from "../../../components/TableOfContents";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
	const posts = await getCollection("posts", (post) =>
		["public", "hidden"].includes(post.data.visibility),
	);
	return posts.map((post) => {
		return {
			params: {
				slug: post.id,
			},
		};
	});
}

const post = await getEntry("posts", Astro.params.slug);

if (!post) {
	throw new Error(`No post found: ${Astro.params.slug}`);
}

const { Content, headings } = await render(post);
---

<Layout title={post.data.title} description={post.data.description} type="article" image={post.data.image?.src}>
	<h1>{post.data.title}</h1>
	{post.data.image && <Image src={post.data.image} alt={post.data.title} />}
	<h2>On this page</h2>
	<TableOfContents headings={headings} />
	<article class="contents">
		<Content />
	</article>
	<div class="flex justify-between italic text-sm">
		<p>Published on: {post.data.publishedAt.toLocaleDateString()}</p>
		<p>Updated on: {post.data.updatedAt.toLocaleDateString()}</p>
	</div>
</Layout>
